.markdown-body h1 {
    color: rgb(54, 54, 54);
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
    border-bottom: solid rgb(255, 138, 61) 1px;
    width: 800px;
    font-size: 3em;
    font-weight: bold;
}

.markdown-body h2 {
    font-size: 2em;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
}

.markdown-body h3 {
    font-size: 1.5em;
    padding-bottom: 10px;
    padding-top: 10px;
}

.markdown-body :not(code)>table td,
.markdown-body :not(code)>table th {
    border: solid rgb(255, 169, 143) 1px;
}

.markdown-body :not(code)>table th {
    background-color: rgb(255, 239, 221);
    color: rgb(66, 66, 66);
}

kbd {
    background-color: tomato;
    box-shadow: 1px 1px 3px 0.3px #be5b339a;
}

blockquote {
    border-left: solid rgba(255, 121, 31, 0.521) 5px;
    padding-left: 6px;
    margin-left: 2em;
}

.markdown-body hr {
    width: 70%;
    background-color: rgb(255, 145, 0);
    margin-left: 0;
    border: none;
    height: 3px;
}